table#classification {
  margin-left: 0;
  table-layout: fixed;
  border-collapse: collapse;
  
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}

table#classification th, table#classification td {
  padding: 0.1em 0.5em;
  text-align: right;
}


table#classification tr.tbl-classi-tr-title {
  background-color: #AAAAAA;
}

table#classification tr.tbl-classi-tr-total {
  background-color: #CCCCCC;
}


table#classification tr.tbl-classi-tr-type {
  background-color: #EEEEEE;
}

table#classification tr.tbl-classi-tr-type-dl {
  background-color: #FFFFFF;
}
